name: Publish to CurseForge

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Download Hytale Server dependencies
        run: |
          mkdir downloader
          cd downloader
          wget https://downloader.hytale.com/hytale-downloader.zip
          unzip hytale-downloader.zip
          chmod +x hytale-downloader
          ./hytale-downloader
          cd ..
          mkdir -p hytale-mock/release/package/game/latest/
          if [ -d "downloader/Server" ]; then mv downloader/Server hytale-mock/release/package/game/latest/; fi
          if [ -f "downloader/Assets.zip" ]; then mv downloader/Assets.zip hytale-mock/release/package/game/latest/; fi

      - name: Publish to CurseForge
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
          CURSEFORGE_PROJECT_ID: ${{ secrets.CURSEFORGE_PROJECT_ID }}
        run: ./gradlew curseforge -PhytaleHome=$(pwd)/hytale-mock
